<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>SALSEC</title>
     <link rel="stylesheet" href="/static/estilos/style.css">
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
     <style>
          
     </style>
     <script>
          function mostrar(id)
          {
              var objeto=document.getElementById(id)
              if(objeto.style.display=="block")
                  objeto.style.display="none";
              else
                  objeto.style.display="block";
          }
      </script>
</head>

<body class = "container">
     <main class="card">
          <!--Espacio del Logotipo-->
          <header>
               
               <div class="header">
                    <img src="../static/access/logoSALSEC.png" alt="" class="header-img"/>
                    <div class="text-header">
                         <span>SALSEC</span>
                    </div>
               </div>

          </header>

          <!--Texto de Bienvenida y Botones-->
          <div class="flex-container">
            <div class="flex-item-left">
               <div class="titulo">
                    <p>Bienvenido al Sistema de Aprendizaje del Lenguaje de Señas Ecuatoriano</p>
               </div>
                    <a href="{{ url_for('menu') }}"><input type="button" class="botonprincipal txtboton" value="INICIAR"></a>
               <h1></h1>
               <!--<div class="cuadrado">Hola</div> -->
               <div class="contenedor-img">  
                    <img src="../static/access/estaticbodyhola-Texto2.gif" alt="" class="bienvenida-img"/> 
                    <!--<div class="cuadrado texto-encima">Hola</div>-->
               </div>
             </div>
            <div class="flex-item-right"></div>
          </div>
          
     </main>
    
</body>
</html>