<!DOCTYPE html>
       <html lang="en">
       <head>
           <meta charset="UTF-8">
           <meta http-equiv="X-UA-Compatible" content="IE=edge">
           <link rel="stylesheet" href="/static/estilos/style.css">
           <link rel="stylesheet" href="/static/estilos/letras.css">
           <link rel="stylesheet" href="/static/estilos/navbar.css">
           <link rel="stylesheet" href="/static/estilos/monitoreo.css">
           <meta name="viewport" content="width=device-width, initial-scale=1.0">
           <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
           <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

           <title>Document</title>
       </head>
       <body class="container">
            <main class="cardl">
               <!--Espacio del Logotipo-->
               <header>
                <div class="back">
                    <div class="menu container2">    
                        <input type="checkbox" id="menu"/>
                        <label for="menu" class="l">
                          <img src="/static/menu.png" class="menu-icono" alt="">
                        </label>
                        <nav class="navbar">
                            <ul>
                                <li>
                                 <a href="{{ url_for('index') }}">
                                     <i class="material-icons">home</i>
                                     <div>Inicio</div>
                                 </a></li>
                                <li><a href="{{ url_for('menu') }}">
                                 <i class="material-icons"> more_horiz</i>
                                 <div class="">Menu</div></a></li>
                                <li>
                                 <a href="#Video">
                                   <i class="material-symbols-outlined">screenshot_frame</i>
                                    <div class="espacio">Escaner</div>
                                 </a></li>
                            </ul>                                  
                        </nav>
                       
                    </div>
                     <div class="header-l">
                            <img src="../static/access/logoSALSEC.png" alt="" class="header-img"/>
                            <div class="text-header">
                                 <span>SALSEC</span>
                            </div>
                       </div>
                            
                </div>
              </header>
              
               <!--Contenido Letra-->
               <section id="letra" class="contenedorSigno">
                <div class="flex-container-letra">
                    <div class="flex-item-1">
                        <div class="dis-letra">
                         <div class="letraAprendizaje">B</div>
                        </div>
                    </div>   
                    <div class="flex-item-2">
                        <img src="../static/access/letras/b.gif" alt="" class="letra-img"/>
                    </div>
                </div> 

                <!-- <div class="flex-container-icon">
                    <a href="#" ><i class="material-icons"> arrow_drop_down</i></a>
                 </div> -->
               </div>
               </section>
            
               <section id="Video" >
               <div class="banner" >Prueba de Conocimiento</div>
                <div class="card-video" >
                    <img  src="{{ url_for('video_feed_B') }}" class="video">
                </div>
                <div class="botondowload">
                    <a href="{{url_for('Download_File')}}" >Download</a>
                </div>
                
                </section>

                </main>

          
           
       </body>
       </html>