<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/static/estilos/style.css">
    <link rel="stylesheet" href="/static/estilos/letras.css">
    <link rel="stylesheet" href="/static/estilos/monitoreo.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class = "container">
    <main class="cardmonitoreo">
        <header class="lop">
            <div class="back">
                <div class="menu container2">    
                    <input type="checkbox" id="menu"/>
                    <label for="menu" class="l">
                      <img src="/static/menu.png" class="menu-icono" alt="">
                    </label>
                    <nav class="navbar">
                        <ul>
                            <li>
                             <a href="{{ url_for('index') }}">
                                 <i class="material-icons">home</i>
                                 <div>Inicio</div>
                             </a></li>
                            <li><a href="{{ url_for('menu') }}">
                             <i class="material-icons"> more_horiz</i>
                             <div class="">Menu</div></a></li>
                            <li>
                             <a href="{{ url_for('monitoreo') }}">
                               <i class="material-symbols-outlined">screenshot_frame</i>
                                <div class="espacio">Escaner</div>
                             </a></li>
                        </ul>                                  
                    </nav>
                   
                </div>
                 <div class="header-l">
                        <img src="../static/access/logoSALSEC.png" alt="" class="header-img"/>
                        <div class="text-header">
                             <span>SALSEC</span>
                        </div>
                   </div>
                        
            </div>
          </header>
        <section id="Letra">
            <h1>Video en directo 3</h1>
        <button onclick="mostrar('contenido1')">Limpiar</button>
        <img src="../static/access/logoSALSEC.png" />
        </section>
        <section id="Video">
            <h2>Looo</h2>
            <div class="card-video">
                <img  src="{{ url_for('video_feed') }}" class="video">
            </div>
            <p> <a href="{{url_for('Download_File')}}">Download</a></p>
        </section>
        
    </main>
</body>
</html>