<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.19/fullpage.css">
    <title>Document</title>
</head>
<body>
    <main id="fullpage">
        <header class="section">
            <h1>Header</h1>
        </header>
        <section class="section">
            <h1>Productos</h1>
        </section>
        <footer class="section">
            <h1>Footer</h1>
        </footer>

    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.19/fullpage.js"></script>
    <script src="/static/js/scroll.js"></script>
</body>
</html>
